.div{
    position:absolute;
    border-color:black;
    border-radius:10px;
    text-align: center;
    vertical-align: middle;

    padding: 5px;

}

.div-EventCard{
    background-color: darkblue;
    border-radius: 10px;

    width: 30em;
    height: 5em;

    padding: 5px;
    margin: 3em;
}

.div-EventCard-title{
    background-color: darkgoldenrod;
    font-size:large;
    font-weight: bold;
    color:green;

    border-color: black;
    
}

